@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    font-size:100%;
    font-family: sans-serif;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    position:fixed;
    background-color:#fff;
    z-index:1000
}

.icon{
    width:130px;
}

#menu li{
    list-style:none;
    display:inline-block;
}


.menuItem{
    color:black;
    text-decoration:none;
    font-size:20px;
    padding:15px 30px 15px 30px;
    border-radius:9px;
}

.menuItem:hover{
    background-color:#505050;
    color:#fff;
}

.menuItem.active{
    background-color:#505050;
    color:#fff;
}

#btnLogIn{
    text-decoration:none;
    font-size:20px;
    padding:15px 30px 15px 30px;
    border-radius:9px;
    background-color: #ffa000;
    color:white;
}

#btnLogIn:hover{
    background-color: #ffa000;
    color:white;
}

.homeBody{
    position:absolute;
    width:100%;
    height:100vh;
    background-color: #0a1924;
    /*background-color:#2a2025;*/
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url('../img/spa/stars.png');
}

#home{
    width:100%;
    float:left;
    height:100vh;
    position:relative;
    overflow:hidden;
}

section{
    width:100%;
    float:left;
    height:auto;
    position:relative;
    overflow:hidden;
}

.container-welcome{
    z-index:999;
}

.section-welcome{
    width:90%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    border-radius:10px;
}

#home{
    background-color:pink;
}


.imgBackground{
    width:100%;
    height:100%;
    object-fit: cover;
    margin:auto;
    left:0;
    top:0;
}

.kekoBienvenida{
    animation:animate 5s linear infinite;
    width:230px;
}

@keyframes animate{
    0%
    {
        filter:hue-rotate(0deg);
        transform:rotate(0deg);
    }
    25%
    {
        transform:rotate(15deg);
        translate:calc(150px);
    }
    50%
    {
        transform:rotate(0deg);
    }
    75%
    {
        transform:rotate(-15deg);
        translate:calc(-150px);
    }
    100%
    {
        transform:rotate(0deg);
    }
}

.imgCloud{
    position:absolute;
    animation:animateCloud 20s linear infinite;
}

@keyframes animateCloud{
    0%
    {

    }
    25%
    {
        translate:calc(-150px);
    }
    50%
    {
    }
    75%
    {

        translate:calc(150px);
    }
    100%
    {

    }
}

/*FINISH WELCOME SECTION*/


/*ABOUT SECTION*/

#about{
    margin-top:100px;
}

.containerImgAbout{
    width:500px;
    height:400px;
    border-radius:10px;
}

.carousel-item img{
    width:500px;
    height:300px;
    object-fit:cover;
}

.aboutTextContainer{
    width:90%;
}

/*CREDITS SECTION*/
#credits img{
    
}

#contact .row{
    width:90%;
}